body {
    background-color: #eeebe8;
    font-family: "Roboto", sans-serif;
}
/* navigation */
nav {
    margin-bottom: 50px;
}
nav ul {
    list-style-type: none;
    display: inline;
}
nav ul li {
    display: inline;
}
/* drag and drop builder */
#drop-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
ul.dropper {
    margin: 0;
    padding: 0;
    width: 400px;
    min-height: 611px;
    list-style: none none;
    border: 1px solid black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    background-color: #F5F5F5;
}
ul.dropper li {
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #F5F5F5;
}
ul.drop_hover {
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) ;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) ;
}
ul.dropper li[draggable=false] {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: #206c6d;
    color: #fff;
}
ul.dropper li[draggable=true]:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
ul.dropper li[draggable=true].selected {
    background-color: #206c6d;
    color: white;
}
ul.dropper li[draggable=true]:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
ul.dropper li[draggable=true]:before {
    font-family: "Font Awesome 5 Free", serif;
    content: "\f1b2";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    padding-right: 7px;
}
ul.dropper li.selected[draggable=true]:before {
    content: "\f4ce";
}
.drop_hover {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.green-btn {
    background-color: #095e5f;
    color: white;
    padding: 12px 20px;
    border: none;
    opacity: 0.9;
    text-transform: uppercase;
}
button.center {
    display: block;
    margin: 0 auto;
}
button:not(.disabled) {
    cursor: pointer;
}
button.disabled {
    opacity: 0.7;
}